<% OPEN_PORTAL_TILES.each do |tile_name, config| %>
<% if current_user.can? config['permission'] %>
  <div class="div-cell cell-<%= config['size_x'] %>">
    <div class="content" data-ui-module='Tile' data-row='1' data-col='1' data-tile-name='<%= tile_name %>' data-sizex='<%= config['size_x'] %>' data-sizey='<%= config['size_y'] %>'>
    </div>
  </div>
<% end %>
<% end %>
