<%= render "widgets/table/filter", filters: table.filters, q: table.q  %>
<%= render "widgets/table/toolbar", toolbar_links: table.toolbar_links  %>

<table class='table'>
  <thead>
    <tr>
      <% table.column_names.each do |name| %>
        <th>
          <%= name %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% table.column_values.each do |resource, values| %>
      <tr>
        <% values.each do |value| %>
          <td>
            <%= value %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
