/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize
 *= require chosen
 *= require_tree ./widgets
 */

*{margin: 0; padding: 0;}

html, body
{
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #FFFFFF;
}


#header {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 25px 15px 25px 10px;
}

#logo {
  display: table-cell;
}

#logo img {
  vertical-align: middle;
  margin-right: 20px;
}

#user-menu {
  display: table-cell;
}


#content {
  padding: 5px;

  max-width: 95%;
  margin: 0 auto;
  background-color: #FFFFFF;
  margin-top: 10px;
  box-shadow: 0px 0px 15px #888888;
}

#content #main {
  padding: 25px 15px 25px 10px;
  border:1px solid #E4E4E4;
  height: 100%;
}
