/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize
 *= require chosen
 *= require_tree ./vendor/
 *= require_tree ./widgets
 */

*{margin: 0; padding: 0; box-sizing: border-box;}

html, body {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  min-height: 100%;
}

a {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  color: #00acc1;
  font-weight: 500;
}


#left-menu {
  background-color: #FFFFFF;
  padding: 15px 15px 25px 10px;
  display: inline-block;
  height: 100%;
  width: 20%;
  float: left;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  position: fixed;
  z-index: 100;
}
#logo img {
  vertical-align: middle;
  margin-right: 20px;
}

#content {
  display: inline-block;
  width: 80%;
  margin-left: 20%;
  height: 100%;
  background-color: #f5f5f5;
  position: fixed;
  overflow: auto;
}

#content #main {
  padding: 15px;
  height: 100%;
}
