ul.vertical-menu {
  padding: 10px;
  list-style-type: none;
  li {
    padding: 10px;
    a {
      font-weight: 400;
      color: rgba(0,0,0,.66);
      position: relative;
      display: inline-block;
      line-height: 24px;
      text-decoration: none;
      padding-left: 2px;
    }
  }
}
