<div class="div-cell cell-12">
  <div class="content">
    <%= link_to t('form.back'), "javascript:void(0);", onclick: 'history.back();' %>
    <h1><%= t(snake_case_model_name) %></h1>
    <%= render 'show_content', resource: @resource, attributes: show_attributes, prefix_attr: "#{"#{namespaces.join('.')}." unless namespaces.blank?}#{snake_case_model_name}.attributes" %>
  </div>
</div>
