<div class="div-cell cell-12">
  <div class="content">
    <% form_config = {
      form_attributes: [:email, :password, :password_confirmation],
      exclude_form_attributes: [],
      form_attributes_config: {},
      exclude_associations: ['.*'],
      form_url: resource,
      form_config: {as: resource_name, url: registration_path(resource_name)}
      }
    %>

    <%= render 'widgets/form', form: Resource::ResourceForm.new(resource, 12, form_config) %>
    <%= render "users/shared/links" %>
  </div>
</div>
